<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmazxiaoma.mallSeckill.dao.SuccessKilledMapper">

  <resultMap id="BaseResultMap" type="com.cmazxiaoma.mallSeckill.model.SuccessKilled" autoMapping="true">
  </resultMap>

  <select id="queryByIdWithSeckill" resultType="com.cmazxiaoma.mallSeckill.model.SuccessKilled">
    select
    a.seckill_id,
    a.user_phone,
    a.create_time,
    a.state,
    b.seckill_id "seckill.seckill_id",
    b.name "seckill.name",
    b.number "seckill.number",
    b.start_time "seckill.start_time",
    b.end_time "seckill.end_time",
    b.create_time "seckill.create_time"
    from success_killed a
    join seckill b on (a.seckill_id = b.seckill_id)
    where a.seckill_id=#{seckillId} and a.user_phone=#{userPhone}
  </select>

</mapper>